<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <div id="viewerContainer">
        <div id="pdfViewer"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.js}"></script>

<script>
    // 获取PDF文件路径
    var pdfurl = '/pbft.pdf';
    // 初始化PDF.js
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.worker.min.js';

    // 加载并渲染PDF文件
    pdfjsLib.getDocument(pdfurl).promise.then(function(pdf) {
        return pdf.getPage(1); // 取得第一页
    }).then(function(page) {
        var scale = 1;
        var viewport = page.getViewport({scale: scale});

        var container = document.getElementById('pdfViewer');
        var canvas = document.createElement('canvas');
        container.appendChild(canvas);

        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        var renderContext = {
            canvasContext: context,
            viewport: viewport
        };
        // 渲染页面
        page.render(renderContext);
    }).catch(function(error) {
        console.error('无法加载或解析PDF文件：', error);
    });
</script>
</body>
</html>