<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
        a{
            color: #005980;
        }
        .widget-small .fa{
            float: left;
            width: 40%;
            line-height: 80px;
            color: #FFFFFF;
        }
        .widget-user .fa{
            background-color: #18a974;
        }
        .widget-visit .fa{
            background-color: #e79d4f;
        }
        .widget-message .fa{
            background-color: #17a2b8;
        }
        .widget-like .fa{
            background-color: #75878a;
        }
        .larger-bold {
            font-weight: bold;
            font-size: 18px; /* 这里可以根据需要调整字号大小 */
        }
        .widget-small-info h4{
            font-size: 18px;
        }
        .widget-small-info span{
            font-size: 16px;
        }
        .project-introduce h4{
            font-weight: bold;
            margin-top: 12px;
            margin-bottom: 8px;
        }
        .project-introduce li{
            list-style: decimal;
            margin-left: 28px;
        }
    </style>
</head>
<body class="timo-layout-page" th:style="'background-image: url(' + @{/images/page.png} + ')'">
<div class="layui-row layui-col-space5">
    <div class="layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header">技术文档</div>
            <div class="layui-card-body">
                <div class="layui-carousel" id="carouselDemo">
                    <div carousel-item="">
                        <!-- 这里是动态加载的图片列表 -->
                        <div><img src="/images/page.png" alt="" class="popup-image open-popup" data-title="图片详情" th:attr="data-url=@{/system/access/add}"></div>
                        <div><img src="/images/page.png" alt="" class="popup-image open-popup" data-title="图片详情" th:attr="data-url=@{/system/access/index}"></div>
                        <!-- 更多图片... -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md5">
        <div class="layui-card">
            <div class="layui-card-header">拓扑状态</div>

        </div>
    </div>

</div>
<div class="layui-row layui-col-space5">
    <div class="layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header larger-bold">节点分布</div>
            <div class="layui-card-body" style="height: 380px;">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md5">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="larger-bold">日志数据</span>
                <span class="layui-card-sub-header">(近6日)</span>
            </div>
            <div class="layui-card-body" style="height: 380px;">
                <div id="lineChart" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/js/china.js}"></script>
<script type="text/javascript" th:src="@{/js/world.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.js}"></script>



<!--折线图-->
<script type="text/javascript">
    // 折线图
    var myChart = echarts.init(document.getElementById('lineChart'));
    function getFormattedDate() {
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        return year + "-" + month + "-" + day;
    }

    const url = '/system/actionLog/dates/' + getFormattedDate();
    // 使用jQuery发起Ajax请求（假设你的后端API返回的数据格式与serverCapacities一致）
    $(document).ready(function() {
        $.ajax({
            url:url,
            method: 'GET',
            success: function(response) {
                console.log('url:', url); // 输出整个
                let serverCapacities = response;
                const dates = Object.keys(serverCapacities);
                // 将对象转换为数组，并按照键（日期）排序
                const sortedEntries = Object.entries(response).sort((a, b) => new Date(a[0]).getTime() - new Date(b[0]).getTime());

                // 获取最后两个条目的日志数量
                const [lastDate, lastCount] = sortedEntries.pop();
                const [penultimateDate, penultimateCount] = sortedEntries.pop();

                // 计算差值
                const diff = lastCount - penultimateCount;

                // 更新DOM元素中的数据
                $('#newLogsCount').text(diff);
                const series = {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        { offset: 0, color: 'rgb(66,111,251)' }, // 开始颜色（例如红色）
                        { offset: 1, color: 'rgb(24,228,253)' }   // 结束颜色（例如绿色）
                    ]),
                    name: 'Server Capacity',
                    type: 'line',
                    smooth: true,
                    symbolSize: 10,
                    emphasis: {
                        focus: 'series',
                        symbolSize: 25,
                    },
                    lineStyle: {
                        width: 4
                    },
                    data: dates.map(date => serverCapacities[date]) // 根据日期获取对应的服务器容量
                };

                // 定义 ECharts 图表配置项
                const option = {
                    tooltip: {
                        trigger: 'axis',
                        formatter: (params) => `
            <div style="font-size: larger;">${params[0].name}</div>
            日志数量: ${params[0].value * 1}
        `,
                        backgroundColor: 'rgb(236,244,251)', // 可选，设置背景颜色以提高可读性
                        padding: [10, 15], // 可选，设置内边距
                        textStyle: { // 可选，设置文字样式
                            color: '#000000',
                            fontSize: 14 // 这里统一设置了tooltip的文字大小，如果你想让日期更大，可以在这里或formatter中第一行单独指定更大的字号
                        },
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        axisLabel: {
                            margin: 30,
                            fontSize: 16
                        },
                        data: dates
                    },
                    yAxis: {
                        type: 'value',
                        show: true,
                        axisLabel: {
                            margin: 30,
                            fontSize: 16,
                            formatter: '{value} ' // 假设单位是GB
                        },
                        splitNumber: 5, // 这个属性可以根据需求调整纵坐标轴的分割段数，默认为5
                        interval: Math.max.apply(null, series.data) / 5, // 自动计算一个合适的间隔值，这里假设最大值分为5份
                        min: 0 // 根据实际情况设定最小值
                    },
                    series: [series]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            },
            error: function(err) {
            }
        });
    });
</script>
<!--地图-->
<script type="text/javascript">
    var myMap = echarts.init(document.getElementById('map'));
    var geoCoordMap = {
        // 国内城市
        '北京': [116.46, 39.92],
        '成都': [104.06, 30.67],
        '广州': [113.23, 23.16],
        '海口': [110.35, 20.02],
        '哈尔滨': [126.63, 45.75],
        '杭州': [120.19, 30.26],
        '呼和浩特': [111.65, 40.82],
        '三亚': [109.511909, 18.252847],
        '上海': [121.48, 31.22],
        '深圳': [114.07, 22.62],
        '珠海': [113.52, 22.3],
        '乌鲁木齐': [87.68, 43.77],
        // 国际城市
        '伦敦': [-0.1277583, 51.5073509],
        '纽约': [-74.0060152, 40.7127281],
        '巴黎': [2.3522219, 48.856614],
        '悉尼': [151.209295, -33.868820],
        '东京': [139.767137, 35.689487],
    };
    $.ajax({
        url: '/system/locking/locate',
        method: 'GET',
        success: function(response) {
            console.log('原始响应:', response);
            var data = [];
            for (let [location, count] of Object.entries(response)) {
                if (geoCoordMap[location]) {  // 确保location在geoCoordMap中有对应的坐标
                    data.push({ name: location, value: count });
                }
            }
            console.log('转换后的data:', data);
            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value)
                        });
                    }
                }
                return res;
            };

            option = {
                // backgroundColor: '#f1f1f1',
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return '<div style="background-color:#fff;padding:5px 10px;">'
                            + '<p style="color:#333;font-size:16px;font-weight:bold;margin:0;">' + params.name + '</p>'
                            + '<p style="font-size:14px;margin:0;">服务节点数量：' + params.value[2] + '</p>'
                            + '</div>';
                    },
                },
                geo: {
                    map: 'world',
                    zoom: 1.2,//放大p-==-
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: 'rgba(213,213,213,0.5)',
                            borderColor: 'rgba(112,187,252,.5)'
                        },
                        emphasis: {
                            areaColor: 'rgba(2,37,101,.8)'
                        }
                    }
                },
                series: [
                    {
                        name: '服务节点数量',
                        type: 'effectScatter',
                        coordinateSystem: 'geo',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        data: convertData(data),
                        symbolSize: function (val) {
                            return val[2]*8 ;
                        },
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#7bc4ff'
                            }
                        }
                    }

                ]
            };
            myMap.setOption(option);
            window.addEventListener("resize", function () {
                myMap.resize();
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error occurred while fetching location counts:', textStatus, ', Details:', errorThrown);
        }
    });
    // var data = [
    //     { name: '上海', value: 8 },
    //     { name: '海口', value: 8 },
    //     { name: '哈尔滨', value: 8 },
    //     { name: '北京', value: 8 },
    // ];
</script>
<script>
    layui.use(['carousel'], function(){
        var carousel = layui.carousel;
    // 轮播图配置
        carousel.render({
            elem: '#carouselDemo' // 匹配容器
            ,width: '100%' // 宽度
            ,height: '300px' // 高度
            ,arrow: 'always' // 是否始终显示箭头
            ,interval: 3000 // 切换间隔时间
        });
    });
</script>
<script>
    $(document).ready(function() {
        // 为所有具有'popup-image'类的图片绑定点击事件
        $('.popup-image').click(function(e) {
            e.preventDefault(); // 阻止默认的链接行为

            // 触发UI库的弹窗功能
            // 假设layui会自动处理data-url和data-title这样的属性
            $(this).trigger('open-popup');
        });
    });
</script>
</body>
</html>