<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jsplumbtoolkit-defaults.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body class="timo-layout-page" th:style="'background-image: url(' + @{/images/page.png} + ')'">
<div class="layui-row layui-col-space15">
    <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
        <div class="widget-small widget-user">
            <i class="icon fa fa-cloud-upload fa-3x"></i>
            <div class="widget-small-info">
                <h4>服务总内存</h4>
                <span>253</span>
                <span class="memory-unit">MB</span>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
        <div class="widget-small widget-visit">
            <i class="icon fa fa-line-chart fa-3x"></i>
            <div class="widget-small-info">
                <h4>新增日志</h4>
                <span id="newLogsCount">0</span>
                <span class="memory-unit">条</span>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
        <div class="widget-small widget-message">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="widget-small-info">
                <h4>用户数量</h4>
                <span>3</span>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
        <div class="widget-small widget-like">
            <i class="icon fa fa-graduation-cap fa-3x"></i>
            <div class="widget-small-info">
                <h4>系统数量</h4>
                <span>2</span>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space5">
    <div class="layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header larger-bold">拓扑状态</div>
            <div class="layui-card-body" style="height: 380px;">
<!--                <button id="replay-animation">重播动画</button>-->
<!--                <button id="toggle-emergency">切换视图</button>-->
                <button id="simulate-intrusion">模拟入侵</button>
                <button id="reset-intrusion">复原入侵</button>
                <select id="idSelect">
                    <option value="1">场景1</option>
                    <option value="2">场景2</option>
                    <!-- 更多选项 -->
                </select>
                <div class="container">
                    <div class="user"></div>
                    <!-- 用户到服务器的数据传输 -->
                    <div class="identity"></div>
                    <!-- 服务器到用户的数据传输 -->
                    <div class="data"></div>
                    <div class="server">
                        <!-- 节点初始时不显示 -->
                        <div id="node1" class="node1" style="display:none;"></div>
                        <div id="node2" class="node2" style="display:none;"></div>
                        <div id="node3" class="node3" style="display:none;"></div>
                        <!-- 紧急服务器初始时显示 -->
                        <div id="emergency-server" class="emergency-server"></div>
                        <!-- 提示容器，包含 SVG 和提示文字 -->
                        <div id="exclamation-mark" style="display:none;">
                            <!-- 使用 img 标签引入 PNG 图片 -->
                            <img src="/images/notpass.png" alt="Exclamation Mark" width="50" height="50" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md5">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="larger-bold">日志数据</span>
                <span class="layui-card-sub-header">(近6日)</span>
            </div>
            <div class="layui-card-body" style="height: 380px;">
                <div id="lineChart" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>


</div>
<div class="layui-row layui-col-space5">
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header larger-bold">服务部署</div>
            <div class="layui-card-body" style="height: 380px;">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header larger-bold">技术文档</div>
            <div class="layui-card-body"  style="height: 380px;">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/book/ppt1.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt1.pdf')}">
                            <div class="doc-title">网安术语</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/book/ppt2.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt2.pdf')}">
                            <div class="doc-title">门限签名</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/book/ppt3.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt3.pdf')}">
                            <div class="doc-title">多方授权</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/book/ppt4.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt4.pdf')}">
                            <div class="doc-title">NFT</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/book/ppt5.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt5.pdf')}">
                            <div class="doc-title">共识算法</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/book/ppt6.png" alt="" class="popup-image open-popup" data-title="文档详情" th:attr="data-url=@{/system/access/index(pdfurl='/data/ppt6.pdf')}">
                            <div class="doc-title">论文</div>
                        </div>
                        <!-- 更多Slides... -->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Swiper的CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<!-- Swiper的JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 3,  // 一屏显示两个文档
        spaceBetween: 40,  // 两个文档之间的间距
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/js/china.js}"></script>
<script type="text/javascript" th:src="@{/js/world.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jsplumb.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>



</body>
</html>