<!DOCTYPE html>
<html>
<head>
    <title>数据双向传输模拟</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/css/jsplumbtoolkit-defaults.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<button id="replay-animation">重播动画</button>
<button id="toggle-emergency">切换视图</button>
<button id="simulate-intrusion">模拟入侵</button>
<button id="reset-intrusion">复原入侵</button>
<div class="container">
    <div class="user"></div>
    <!-- 用户到服务器的数据传输 -->
    <div class="identity"></div>
    <!-- 服务器到用户的数据传输 -->
    <div class="data"></div>
    <div class="server">
        <!-- 节点初始时不显示 -->
        <div id="node1" class="node1" style="display:none;"></div>
        <div id="node2" class="node2" style="display:none;"></div>
        <div id="node3" class="node3" style="display:none;"></div>
        <!-- 紧急服务器初始时显示 -->
        <div id="emergency-server" class="emergency-server"></div>
        <!-- 添加一个感叹号的元素，初始时不显示 -->
        <!-- 提示容器，包含 SVG 和提示文字 -->
        <div id="exclamation-mark" style="display:none;">
            <!-- 使用 img 标签引入 PNG 图片 -->
            <img src="/images/notpass.png" alt="Exclamation Mark" width="50" height="50" />
        </div>

        <!--        <img src="/images/pass.png" class="approval" style="display:none;" />-->
    </div>

</div>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/js/jsplumb.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
